{% extends "base.html" %}

{% block content %}
<!--
<h2>Usuarios</h2>
<a href="{% url 'crear_usuario' %}" class="btn btn-primary mb-3">
    Nuevo Usuario
</a>
-->
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Usuarios</h2>

    <a href="{% url 'crear_usuario' %}" 
        class="btn btn-primary rounded-circle d-flex align-items-center justify-content-center"
        style="width:40px;height:40px;"
        title="Nuevo Usuario">
        <i class="bi bi-plus-lg"></i>
    </a>
</div>

<form method="get" class="row mb-3">

    <div class="col-md-4">
        <input type="text" name="q" value="{{ query }}"
               class="form-control"
               placeholder="🔍 Buscar usuario...">
    </div>

    <div class="col-md-3">
        <select name="estado" class="form-select">
            <option value="activos"
                {% if estado == "activos" %}selected{% endif %}>
                Activos
            </option>

            <option value="inactivos"
                {% if estado == "inactivos" %}selected{% endif %}>
                Inactivos
            </option>
        </select>
    </div>

    <div class="col-md-2">
        <button class="btn btn-primary w-100">
            Buscar
        </button>
    </div>

</form>

<table class="table">
<tr>
    <th>Usuario</th>
    <th>Rol</th>
    <th>Estado</th>
    <th></th>
</tr>

{% for p in perfiles %}
<tr>
    <td>{{ p.user.username }}</td>
    <td>{{ p.rol }}</td>
    <td>
         {% if p.user.perfil.activo %}
            Activo
        {% else %}
            Inactivo
        {% endif %}
    </td>
    <td>
        {% if p.user.perfil.activo %}
            <a href="{% url 'baja_usuario' p.user.id %}" class="btn btn-danger btn-sm">
                Baja
            </a>
        {% else %}
            <a href="{% url 'alta_usuario' p.user.id %}" class="btn btn-success btn-sm">
                Alta
            </a>
        {% endif %}
    </td>
</tr>
{% endfor %}

</table>

{% endblock %}
